<form 
(ngSubmit)="register()"
#userform = "ngForm"
class="md:flex justify-center px-10 bg-white gap-10 py-5 h-auto">

    <div class="h-150 w-3/5 mt-0"  style="background-image: url('register-bg.svg'); background-repeat: no-repeat; 
    background-size:contain; background-color: rgb(255, 255, 255);background-position: bottom;">
       <!-- Dummy div to add a space from above -->
    </div>


    <div class="bg-white rounded w-1/4 flex flex-col shadow-sm drop-shadow-md mx-3 px-4">
        <div class="flex justify-center mt-2">
            <img [src]="profilePicture" class="rounded-full object-cover bg-blue-800 h-24 w-24"/>
        </div>

        <div class="text-2xl my-2 font-medium text-center">
            Register
        </div>

        <div class="w-full px-4">
            <mat-form-field class="w-full" appearance="fill">
                <mat-label>Email</mat-label>
                <input 
                required
                matInput name="email" 
                [(ngModel)]="email" 
                #emailModel = "ngModel"
                placeholder="example@gmail.com"
                [pattern]="emailPattern"/>

                @if(emailModel.errors?.['required']){
                    <mat-error class="!text-red-500" >
                        Email is required
                    </mat-error>
                }

                <mat-error class="!text-red-500"  *ngIf="emailModel.errors?.['pattern']">
                    Enter a valid email.
                  </mat-error>

            </mat-form-field>

            <mat-form-field class="w-full" appearance="fill">
                <mat-label>Full Name</mat-label>
                <input matInput 
                required
                name="fullName" 
                [(ngModel)]="fullname" 
                #fullNameModel="ngModel"
                placeholder="Enter your full name"/>

                @if(fullNameModel.errors?.['required']){
                    <mat-error class="!text-red-500" >
                        Full Name is required
                    </mat-error>
                }

            </mat-form-field>

            <mat-form-field class="w-full" appearance="fill">
                <mat-label>User Name</mat-label>
                <input matInput 
                required
                name="userName" 
                [(ngModel)]="username" 
                #userNameModel="ngModel"
                placeholder="Enter User Name for display"/>

                @if(userNameModel.errors?.['required']){
                    <mat-error class="!text-red-500" >
                        User Name is required
                    </mat-error>
                }

            </mat-form-field>

            <mat-form-field class="w-full" appearance="fill">
                <mat-label>Password</mat-label>
                <input matInput [type]="hide() ? 'text' : 'password'" name="Password" 
                    [(ngModel)]="password" 
                    required
                    #passwordModel="ngModel"
                    placeholder="password" />
            
                <mat-error class="!text-red-500"  *ngIf="passwordModel.errors?.['required']">
                    Password is required
                </mat-error>
            
                <mat-icon matSuffix (click)="togglePassword($event)">
                    {{ hide()? 'visibility_off' : 'visibility' }}
                </mat-icon>
            </mat-form-field>
            
            <mat-form-field class="w-full" appearance="fill">
                <mat-label>Confirm Password</mat-label>
                <input matInput [type]="cHide() ? 'text' : 'password'" name="ConfirmPassword" 
                    [(ngModel)]="confirmPassword" 
                    required
                    #confirmPasswordModel="ngModel"
                    placeholder="Confirm password"
                    (ngModelChange)="validatePassword()" />
            
                <!-- Show required error -->
                <mat-error class="!text-red-500"  *ngIf="confirmPasswordModel.errors?.['required']">
                    Confirm Password is required
                </mat-error>

                <mat-error class="!text-red-500"  *ngIf="passwordMismatch && confirmPassword">
                    Passwords do not match
                </mat-error>
            
                <!-- Show password mismatch error -->
                <!-- Password mismatch validation -->
                
                <mat-icon matSuffix (click)="toggleConfirmPassword($event)">
                    {{ cHide() ? 'visibility_off' : 'visibility' }}
                </mat-icon>
                
            </mat-form-field>
            <span class="!text-red-500"  *ngIf="passwordMismatch">
                *Passwords do not match
            </span>
            
            

            <input hidden 
            (change)="onFileSelected($event)"
            type="file" #pic placeholder="Profile Image" />
                <button (click)="pic.click()"
                type="button" class="w-full flex items-center gap-2 justify-center mb-5
                bg-red-900 text-white rounded p-2">
                    <mat-icon>add_a_photo</mat-icon>
                    <span>Upload Image</span>
                </button>

                <div>
                    <h5>Already have an account?</h5>
                    <!-- Add RouterLink to the Register page -->
                    <a class="text-blue-500" routerLink="/login" class="text-blue-400 hover:underline">Login</a>
                </div>

            <button 
            [disabled]="!userform.valid || password !== confirmPassword"
            type="submit" class="w-full mb-5 bg-blue-900 text-white rounded-md p-2 disabled:opacity-30">
                Register
            </button>
        </div>
    </div>



</form>
