<div>
<form
(ngSubmit)="login()"
#userform = "ngForm"
class="md:flex justify-center bg-white gap-10">

    <div class="h-150 w-3/5 p-0" style="background-image: url('register-bg.svg'); background-repeat: no-repeat; 
    background-size:contain; background-color: white;background-position: bottom;">
       <!-- Dummy div to add a space from above -->
    </div>
    <div class="bg-white my-15 rounded w-1/4 flex flex-col shadow-sm drop-shadow-md">
        <div class="text-center mt-10">

            <i class="material-icons text-blue-950 bg-white !text-7xl">account_circle</i>
            <div class="text-2xl my-2 font-medium text-center">
                Login
            </div>

        </div>
        
        <div class="w-full px-4 mb-1">
            <mat-form-field class="w-full " appearance="fill">
                <mat-label>Email</mat-label>
                <input 
                  required
                  matInput
                  name="email"
                  [(ngModel)]="email"
                  #emailModel="ngModel"
                  placeholder="example@gmail.com"
                  [pattern]="emailPattern" />
            
                <!-- Conditional Error Messages -->
                <mat-error class="!text-red-500" *ngIf="emailModel.errors?.['required']">
                  Email is required.
                </mat-error>
            
                <mat-error class="!text-red-500"  *ngIf="emailModel.errors?.['pattern']">
                  Enter a valid email.
                </mat-error>
              </mat-form-field>

            <mat-form-field class="w-full" appearance="fill">
                <mat-label>Password</mat-label>
                <input matInput [type]="hide() ? 'text' : 'password'" name="Password" 
                    [(ngModel)]="password" 
                    required
                    #passwordModel="ngModel"
                    placeholder="password"/>
            
                <mat-error class="!text-red-500"  *ngIf="passwordModel.errors?.['required']">
                    Password is required
                </mat-error>
            
                <mat-icon matSuffix (click)="togglePassword($event)">
                    {{ hide()? 'visibility_off' : 'visibility' }}
                </mat-icon>
            </mat-form-field>
            <div>
                <h5>New to platform?</h5>
                <!-- Add RouterLink to the Register page -->
                <a class="text-blue-500" routerLink="/register" class="text-blue-400 hover:underline">Register</a>
              </div>
            

            <button 
            [disabled]="!userform.valid"
            type="submit" class="w-full bg-blue-900 text-white rounded-md p-2 mt-5 disabled:opacity-30">
                Login
            </button>
        </div>
    </div>
</form>
    
</div>
